@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
background-color: black;
border: solid black 5px;
min-width: 40vh;
margin: 0 auto;
background: linear-gradient(to right, purple, orange);
}

h1 {
  font-family: "bebes nue", "Trebuchet MS", Arial, sans-serif;
  position: relative;
  text-align: center;
  vertical-align:center;
  color: white;
  letter-spacing: 4px;
  margin-top: 15px;
  font-weight: 22;
}

h2{
  font-family: "bebes neu", "Trebuchet MS", Arial, sans-serif;
  position: relative;
  text-align: center;
  vertical-align:center;
  color: black;
  margin-top: 20px;

}

h3 {
  font-family: "bebes neu", "Trebuchet MS", Arial, sans-serif;
  position: relative;
  text-align: center;
  vertical-align:center;
  color: orange;
  margin-top: auto;
  text-decoration: overline;
}

.beforeAfter .card {
  width: 50%;
  height: 50%;

}




p {
  color:white;
  text-align: center;
  font-size: 20px;
  margin: 5px 5px;
  font-family: "bebes nue";
}

aside {
  color: black;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  margin: 25px;
  margin-bottom: -20px;
  font-style:italic;
  font-family: "bebes nue";
  font-size: 30px;
  border: 3px solid black;
  padding: 18px;
  border-radius: 10px;
  border-style: hidden;
  display: flex;
}

figure {
  color: black;
  text-decoration: overline;
}

.about {
  text-align: center;
  border: solid transparent 3px;
  /*margin: 40px 40px;*/
  display: block;
  font-family: "bebes nue";
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 28px;
  min-width: 40vh;
}

.about img {
  border-radius: 50%;
  display: circle;
  vertical-align: middle;
  float: middle;
  width: 300px;
  height: 300px;
  margin: 20px;
  border: solid black;
  box-shadow: 6px 4px 2px;
  color: black;
}

table {
  display: inline-block;
  border: black solid 2px;
  border-style: hidden;
  padding: 10px 20px;
  /*margin: 15px;*/
  min-width: 20vh;

}

td {
  display: block;
  border: black solid 2px;
  border-style: hidden;
  padding: 10px 25px;
  margin: 10px 0;
}



a {
  color: navy;
  font-weight: 500;
  font-family: "bebes nue";
  letter-spacing: 2px;
}

a:hover {
  color: navy;
  font-weight: 1000;
  font-family: "bebes nue";
  letter-spacing: 2px;
}

.card-body {
  color: white;
  text-align: center;
}

.card-img-top {
  min-width: 50vh;
  min-height:30vh;

}

.card-header {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: lighter;

}

.card-text{
  color:white;
  font-size:18px;
}

.card {
    background-color: #36454f!important;
    margin: auto;
    /*max-width: 100vh;
    max-height: 100vh;*/
}

.carousel-caption{
  opacity:0;
  transition:500ms ease-in-out;
}
.carousel-item:hover .carousel-caption{
  opacity:1;
  background-color: #999;
}

.inDesign .carousel-item img{
width:80%;
height:80%;

}

.inDesign .card .carousel-inner img {
display: flex;
width:40%;
height:40%;
margin: auto;
}



a {
  text-align: center;
}

.about p {
  color: black;
  text-transform: none;
  text-decoration: none;
  text-underline:none;
  font-size:20px;
  display: block;
  border: 3px solid silver;
  margin-left: 100px;
  margin-right: 100px;
  padding: 8px;
  color: white;
  border-radius: 15px;

}


footer {
  font-size: 20px;
  font-family: 'bebe nue', "Trebuchet MS", Arial, sans-serif;
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  letter-spacing: 2px;
  display:middle;
  position: center;
  color: black;
  opacity: 90%;
  text-align: center;
  vertical-align:center;
}

/* Mobile Screens */

@media only screen and (max-width: 640px) {

   body > header {
      padding-bottom: 0px;
   }

   img#logo {
      width: 100%;
   }

   a#navicon {
      display: block;
   }

   body > header nav ul {
      display: none;
   }

   body > header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }

   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
}

/* Tablet screens. CS. */

@media only screen and (min-width: 641px) {


   body > header nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: center;
      justify-content: center;
   }

   body > header nav ul li {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
   }
}
